

@font-face {
    font-family: Comfortaa;
    src: url(../fonts/Comfortaa-Medium.woff2) format('woff2'),
        url(../fonts/Comfortaa-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Comfortaa;
    src: url(../fonts/Comfortaa-SemiBold.woff2) format('woff2'),
        url(../fonts/Comfortaa-SemiBold.woff) format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Comfortaa;
    src: url(../fonts/Comfortaa-Bold.woff2) format('woff2'),
        url(../fonts/Comfortaa-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Comfortaa;
    src: url(../fonts/Comfortaa-Light.woff2) format('woff2'),
        url(../fonts/Comfortaa-Light.woff) format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Comfortaa;
    src: url(../fonts/Comfortaa-Regular.woff2) format('woff2'),
        url(../fonts/Comfortaa-Regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
